# Ignore everything
*

# Except these files
!.gitignore
!Lektion_1/*
!Lektion_2/*
!Lektion_3/*
!Lektion_4/*
!Lektion_5/*
!Lektion_6/lektion_6.pptx
!Lektion_6/quiz/lektion_6_test.txt
!Lektion_7/*
!Lektion_8/*
!Tidl_eksam_spg/
# etc..

# ... even if they are in subdirectories
#!*/
